documentation/
/documentation

examples/
/examples

models/
/models

tools/
/tools

/software/PrintingMonitor/.vs/PrintingMonitor
/software/PrintingMonitor/PrintingMonitor/bin/Debug/netcoreapp3.1
/software/PrintingMonitor/PrintingMonitor/obj
