<Tile Title="Connection output" SizeClasses="col-xl-3 col-md-6 mb-4">
    <div class="row">
        <h6>[@(DateTime.Now)]: ok T:0.00 /0.00 B:24.50 /0.00</h6>
    </div>
    <div class="row">
        <h6>[@(DateTime.Now)]: G0 X12 Y123 Z124</h6>
    </div>
    <div class="row">
        <h6>[@(DateTime.Now)]: M92 X645.00 Y645.00 </h6>
    </div>
    <div class="row">
        <h6>[@(DateTime.Now)]: G0 X12 Y123 Z124</h6>
    </div>
</Tile>