<Tile Title="Firmware Information" SizeClasses="col-xl-3 col-md-6  mb-4">

    <div class="row d-flex justify-content-center">
        <h5>Filament Diameter(M200):</h5>
    </div>
    <div class="row d-flex justify-content-center mb-2">
        <h6>Diameter: 1.75</h6>
    </div>

    <div class="row d-flex justify-content-center">
        <h5>Home offset(m206):</h5>
    </div>
    <div class="row d-flex justify-content-center mb-2">
        <h6> X:0.00 Y:0.00 Z:0.00</h6>
    </div>

    <div class="row d-flex justify-content-center">
        <h5>Steps per unit(M92):</h5>
    </div>
    <div class="row d-flex justify-content-center mb-2">
        <h6>X:645 Y:645 :Z2600 E:755</h6>
    </div>

    <div class="row d-flex justify-content-center">
        <h5>PID Settings(M301):</h5>
    </div>
    <div class="row d-flex justify-content-center mb-2">
        <h6>P:15.92 I:0.79 D:80.45</h6>
    </div>
</Tile>