<Tile Title="Positions" SizeClasses="col-xl-4 col-md-6 mb-4">
    <div class="row d-flex justify-content-center">
        <h6>X: 0.0</h6>
    </div>
    <div class="row">
        <h6>Y: 120.0</h6>
    </div>
    <div class="row">
        <h6>Z: 210.0</h6>
    </div>
    <div class="row">
        <h6>E: 120.0</h6>
    </div>
</Tile>