<div class="@SizeClasses">
    <div class="card shadow h-100">
        <h5 class="card-header">@Title</h5>
        <div class="card-body">
            <div class="container h-100">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string SizeClasses { get; set; }
}
