<Tile Title=@Title SizeClasses=@SizeClasses>
    <div class="row d-flex @(AlignContentCenter? "align-items-center" : "align-items-end") h-100">
        <div class="@(string.IsNullOrWhiteSpace(LeftSideSizeClasses)
                        ? "col-xl-6 col-lg-6 col-12" 
                        : LeftSideSizeClasses )">
            @LeftSideContent
        </div>
        <div class="@(string.IsNullOrWhiteSpace(RightSideSizeClasses)
                        ? "col-xl-6 col-lg-6 col-12" 
                        : RightSideSizeClasses )">
            @RightSideContent
        </div>
    </div>
</Tile>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment LeftSideContent { get; set; }

    [Parameter]
    public RenderFragment RightSideContent { get; set; }

    [Parameter]
    public string SizeClasses { get; set; }

    [Parameter]
    public bool AlignContentCenter { get; set; }

    [Parameter]
    public string LeftSideSizeClasses { get; set; }

    [Parameter]
    public string RightSideSizeClasses { get; set; }
}
