@page "/login"
@{
    Layout = "FormValidationLayout/FormValidationLayout";
}
@model LoginPage
@using PrintingMonitor.Pages.Account.Login



<h1 class="h3 mb-4">Please log in to printer</h1>
<div asp-validation-summary="All" class="alert-danger h5"></div>

<label asp-for="Input.UserName" class="sr-only">UserName</label>
<input asp-for="Input.UserName" class="form-control form-firstfield" placeholder="UserName" required autofocus />

<label asp-for="Input.Password" class="sr-only">Password</label>
<input asp-for="Input.Password" class="form-control form-secondfield" placeholder="Password" required />

<button type="submit" class="btn btn-lg btn-secondary btn-block">Log in</button>