@page "/"

<div class="row">
    <Movement></Movement>
    <Coordinate></Coordinate>
</div>
<div class="row">
    <Homing></Homing>
    <Temperature></Temperature>
</div>
<div class="row">
    <PrintJob></PrintJob>
    <Camera></Camera>
</div>
<div class="row justify-content-center">
    <FirmwareInformation></FirmwareInformation>
</div>