@page "/"

<div class="row">
    <Movement></Movement>
    <Positions></Positions>
    <Temperature></Temperature>
</div>
<div class="row">
    <PrintJob></PrintJob>
    <FirmwareInformation></FirmwareInformation>
    <ConnectionOutput></ConnectionOutput>
</div>
<div class="row">
    <Camera></Camera>
</div>